.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  margin: 0px;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

li {
  list-style: none;
}

.todays_date {
  font-size: 16px;
  /* margin: 10px; */
  margin-top: -30px;
  margin-bottom: 11px;
  font-weight: 700;
}

#create_note_title_description {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border: 1px silver solid;
  margin-bottom: 10px;
  padding: 1px;
}

#create_note_fields {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border: 1px silver solid;
  margin-bottom: 10px;
  padding: 10px;
  height: 23vh;
}

.create_note_inputs {
  border-radius: 5px;
  display: flex;
  border: 0px;
  font-size: 16px;
  padding-left: 5px;
  margin-top: -4px;
  overflow: scroll;
  overflow-y: auto;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19); */
  transition: box-shadow 1s ease;
}

.create_note_inputs:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* 
::-webkit-datetime-edit {
  padding: 1em;
}

::-webkit-datetime-edit-fields-wrapper {
  background: silver;
}

::-webkit-datetime-edit-text {
  color: red;
  padding: 0 0.3em;
}

::-webkit-datetime-edit-month-field {
  color: blue;
}

::-webkit-datetime-edit-day-field {
  color: green;
}

::-webkit-datetime-edit-year-field {
  color: purple;
}

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  background: orange;
} */

input[type="date"] {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  width: 135px;
  padding: 3px;
  border-radius: 5px;
  border: 0px;
  transition: box-shadow 1s ease;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

input[type="time"] {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  width: 100px;
  padding: 3px;
  border-radius: 5px;
  border: 0px;
  transition: box-shadow 1s ease;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

input[type="time"]:hover, input[type="date"]:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#schedule_div {
  display: none;
}

/* -webkit-align-items: center;
  display: -webkit-inline-flex;
  font-family: monospace;
  overflow: hidden;
  padding: 0;
  -webkit-padding-start: 1px;
}

input::-webkit-datetime-edit {
  -webkit-flex: 1;
  -webkit-user-modify: read-only !important;
  display: inline-block;
  min-width: 0;
  overflow: hidden;
}

input::-webkit-datetime-edit-fields-wrapper {
  -webkit-user-modify: read-only !important;
  display: inline-block;
  padding: 1px 0;
  white-space: pre;
} */

/* .zoom {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom::after {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom:hover {
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}

.zoom:hover::after {
  opacity: 1;
} */