.folder_container {
  /* height: 73vh; */
  /* width: 100%; */
  background-color: white;
  border-radius: 10px;
  overflow: scroll;
  overflow-x: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column;
  /* padding: 10px; */
  border-bottom: 1px silver solid;
  /* height: 100%; */
  /* transition: height 1s ease; */
  /* transition: height 1s ease;
  
  -webkit-transition: height 1s ease; */
}

/* .folder_container:hover {
  height: 0px;
} */