#bg {
  /* background-image: url('./bg.png'); */
  /* background-size: cover; */
  background: rgb(71, 125, 226);
  background: linear-gradient(180deg, rgb(85, 103, 138) 12%, rgb(156, 83, 83) 56%);
  background-repeat: repeat;
  background-attachment: fixed;
  width: 100%;
  z-index: -1;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: overlay;
}

@media screen and (max-width: 930px) {
  #bg {
    /* margin: 10px 100px; */
    padding-top: 100px;
  }
}

@media screen and (max-width: 788px) {
  #bg {
    padding-top: 100px;
  }
}

@media screen and (max-width: 656px) {
  #bg {
    /* padding-top: 20px; */
    padding-top: 20px;
    height: 100vh;
    /* height: 70vh; */
  }
}

@media screen and (max-width: 497px) {
  #bg {
    padding-top: 20px;
    height: 100vh;
    /* padding: 20px */
    /* height: 70vh; */
  }
}