.text_container {}

.text_field {
  height: 62vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  overflow: scroll;
  overflow-x: auto;
  border: 0px;
  padding: 20px;
  margin-top: 10px;
}

.text_field:focus {
  outline: 0;
}

textarea {
  resize: none;
}