.text_container {}

.text_field {
  height: 45vh;
  background-color: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 0px 0px 10px 10px;
  overflow: scroll;
  overflow-x: auto;
  border: 0px;
  padding: 10px;
  /* margin-top: 10px; */
  width: 95%;
  font-size: 16px;
}

.text_field:focus {
  outline: 0;
}

textarea {
  resize: none;
}