.list_modal {
  position: absolute;
  /* height: 60%; */
  width: 30%;
  top: 14vh;
  z-index: 2;
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

.modal_text_field {
  height: 20vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  overflow: scroll;
  overflow-x: auto;
  border: 0px;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.modal_scheduled_field {
  display: flex;
}

.modal_labels {
  font-size: 14px;
  margin: 5px 0px;
  margin-right: 10px;
}

.modal_inputs {
  border-radius: 5px;
  display: flex;
  border: 0px;
  font-size: 16px;
  padding-left: 5px;
  width: 100%;
  margin-top: -4px;
  overflow: scroll;
  overflow-y: auto;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19); */
  transition: box-shadow 1s ease;
}

.modal_inputs:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.priority_input {
  width: 40%;
}

.modal_text_field:focus {
  outline: 0;
}

textarea {
  resize: none;
}

.title_close_div {
  display: flex;
}

/* Dropdown Button */

.dropbtn {
  color: black;
  padding: 8px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

/* Dropdown button on hover & focus */

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
  left: 57px;
  top: 0px;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
  display: block;
}

#create_note_title_description {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border: 1px silver solid;
  margin-bottom: 10px;
  padding: 1px;
}

#modal_fields_container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border: 1px silver solid;
  margin-bottom: 10px;
  padding: 10px;
  /* height: 18vh; */
}

#modal_fields_section {
  width: 100%;
}

#modal_priority_list_name {
  width: 50%;
}

#dates {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.create_note_inputs_modal {
  border-radius: 5px;
  display: flex;
  border: 0px;
  font-size: 16px;
  padding-left: 5px;
  margin-top: -4px;
  overflow: scroll;
  overflow-y: auto;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19); */
  transition: box-shadow 1s ease;
}

.create_note_inputs:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#create_note_container_modal {
  display: flex;
  flex-direction: row;
}

#modal_schedule_div {
  /* flex-direction: column; */
  display: flex;
  flex-direction: row;
}

#modal_scheduled_field {
  display: flex;
}

#modal_dates {
  display: flex;
  flex-direction: column;
}