.category_note_container {
  /* height: 73vh; */
  width: 100%;
  background-color: white;
  /* border-radius: 10px; */
  overflow: scroll;
  overflow-x: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column;
  height: 100%;
  /* border-top: 1px silver solid; */
  /* transition: all 1s; */
  /* transition: height 1s ease;
  
  -webkit-transition: height 1s ease; */
}

/* .category_note_container.collapse {
  height: 0px;
} */