.note {
  font-size: 12px;
  display: flex;
  border-bottom: 1px silver solid;
  padding: 5px;
}

.note_input {
  border-radius: 5px;
  display: flex;
  border: 0px;
  font-size: 14px;
  padding: 0px;
  width: 100%;
  margin-top: -4px;
  overflow: scroll;
  overflow-y: auto;
}

.note_input:focus {
  outline: 0;
}