.folder_container {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  overflow: scroll;
  overflow-x: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: height 1s ease;
}