.checkbox {
  border-radius: 15px;
  height: 16px;
  width: 13px;
  border: 1px silver solid;
  margin-right: 5px;
}

label input {
  visibility: hidden;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

label span {
  height: 18px;
  width: 18px;
  border: 1px solid grey;
  display: inline-block;
  border-radius: 15px;
  border: 1px silver solid;
  margin-right: 5px;
}

[type=checkbox]:checked+span {
  background: rgb(64, 155, 241);
}